{namespace questions.view}

/**
 * Single set view
 * @param name
 * @param questions
 * @param plan
 * @param expectedDuration
 * @param id
 */
{template .set}
	{call shared.set.single data="all" /}
{/template}