{namespace questions}

/**
 * 
 */
{template .main}
<h3>Nothing to do here</h3>
<div class="row">
	<div class="column large-12 small-12">
		<img src="http://www.explosm.net/db/files/Comics/Dave/comichangmannew.png" />
	</div>
</div>
{/template}