{namespace questions}

/**
 * 
 */
{template .main}
<h3>Nothing to do here</h3>
<div class="row">
	<div class="column large-12 small-12">
		<img src="http://imgs.xkcd.com/comics/regular_expressions.png" />
	</div>
</div>
{/template}