{namespace main}

/**
 * This is a quick demo-template, which will display a demo-page with only some demo-data...
 */
{template .index}
<!doctype html>
<html>
	<head>
		<title>	Main controller	</title>
		<meta charset="utf-8" />
	</head>
	<body>
		<h1>Nothing to do here</h1>
		
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="/test.js"></script>
	</body>
</html>
{/template}