{namespace view.set.tab.plan}

/**
 * Full tab
 * @param plan
 */
{template .full}
{if $plan.data}
	<section>
		<p class="title" data-section-title><a href="#">Content</a></p>
		<div class="content" data-section-content>
			<h4>Plan</h4>
			<p>{$plan.data}</p>
		</div>
	</section>
{/if}
{/template}
