{namespace shared.set}

/**
 * Displays a questionset
 * @param name
 * @param id
 * @param owner
 * @param expectedDuration
 * @param questions
 */
{template .single}
<h1>{$name}</h1>
<h2>Author: {$owner.id}, expected duration: {$expectedDuration} mins.</h2>
{call shared.question.multiple}
	{param questions: $questions /}
	{param setid: $id /}
{/call}
{/template}