{namespace questions.view.set.tab.createquestion}

/**
 * Create question tab
 * @param id
 */
{template .full}
		{call questions.form.question.add}
			{param setId: $id /}
		{/call}
{/template}