{namespace questions.view.set.tab.createquestion}

/**
 * Create question tab
 * @param id
 */
{template .full}
<h4>Import questions</h4>
<div class="row">
	<div class="columns large-12 small-12">
		<a href="{$ij.URLPrefix}/sets/{$id}/import" class="button">Import</a>
	</div>
</div>

<h4>New question</h4>
{call questions.form.question.add}
	{param setId: $id /}
{/call}
{/template}