{namespace questions.form.set}

/**
 * 
 */
{template .create}
<h3>Create question set</h3>
<div class="row">
	<div class="columns large-12 small-12">
		<form class="custom" method="post" action="/sets/save">
			<input type="text" placeholder="Name" name="name" />
			<textarea placeholder="Supervision plan" name="plan" />
			<input type="Submit" value="Create new set" name="submit" />
		</form>
	</div>
</div>
{/template}