div.page-number-list {
	float:left;
	padding: 4px 10px 0px 0px;
}

.page-number {
	padding: 2px 5px;
	margin: 0xp 5px 0px 0px;
}

strong.page-number {
	background-color: #E6E6E6;
}

.results-per-page-select {
	float: left; 
	width: 70px;
}

div.button-container-tags-tab {
	float: right; 
	width: 100px;
}

div.text-field-container-tags-tab {
	margin-right: 112px;
}

input#tags-input{
	width: 100%;
}

#save-export-state-button {
	 float: right;
}

div.result-number-text {
	padding-bottom: 10px;
}

.search-bar {
	margin: 0 0.9375em;
	padding: 10px 20px 0 20px;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: transparent;
	position: relative;
	top: 1px;
}

.search-bar.expanded {
    margin: 0 0.9375em;
    padding: 10px 20px 0 20px;
    border-color: #ccc;
    position: relative;
    background-color: white;
    top: 1px;
}

.advanced-search {
	display: none;
	padding: 10px 20px 0 20px;
	border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: transparent;
}

.advanced-search.expanded {
    border-color: #ccc;
}

.search-buttons {
	padding: 0 20px 10px 20px;
	border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: transparent;
}

.search-buttons.expanded {
	padding: 0 20px 10px 20px;
    border-color: #ccc;
}

.search-tags-label {
	display: none;
}

.internal-page-number-container {
	padding: 10px 0px 0px 0px;
}