div.page-number-list {
	float:left;
	padding: 4px 10px 0px 0px;
}

.page-number {
	padding: 2px 5px;
	margin: 0xp 5px 0px 0px;
}

strong.page-number {
	background-color: #E6E6E6;
}

.results-per-page-select {
	float: left; 
	width: 70px;
}

div.button-container-tags-tab {
	float: right; 
	width: 100px;
}

div.text-field-container-tags-tab {
	margin-right: 112px;
}

div.button-container-search {
    float: right; 
    width: 120px;
    text-align: right;
}

div.text-field-container-search {
    margin-right: 120px;
}

input#tags-input{
	width: 100%;
}

#save-export-state-button {
	 float: right;
}

div.result-number-text {
	padding-bottom: 10px;
}

.search-bar {
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: transparent;
	position: relative;
	background-color: white;
	top: 1px;
	z-index: 99;
}

.search-bar.expanded {
    border-color: #ccc;
    position: relative;
    
    top: 1px;
}

.advanced-search {
	display: none;
}

.advanced-search.expanded {

}

.search-buttons {
	border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: transparent;
}

.search-buttons.expanded {
    border-color: #ccc;
}

.search-advanced-button {
	border-bottom: 0;
}
cent
.border-left {
	border-width: 0 0 0 1px;
	border-left-width: 1px;
	border-style: solid;
	border-color: #ccc;
}

.border-right {
	border-width: 0 1px 0 0;
	border-style: solid;
	border-color: #ccc;
}

.border-both {
	border-width: 1px 1px 0;
	border-left-width: 1px;
	border-style: solid;
	border-color: #ccc;
}

.search-tags-label {
	display: none;
}

.internal-page-number-container {
	padding: 10px 0px 0px 0px;
}

@media only screen and (max-widcentth: 1200px) and (min-width: 768px) {
    #search-export-questions-form {
        width: 100% !important;
        padding-left: 0 !important;
    }
    
    .search-bar, .search-buttons {
    	width: 100% !important;
    }
}

#search-export-questions-form {
	float: right;
	width: 50%;
	padding-left: 5%;
}

#add-questions-to-set-form {
	padding-bottom: 0;
	margin-bottom: 0;
}

.warning p {
	width: 100%;
	background:#FBE3E4;
	color:#8a1f11;
	border:1px solid #FBC2C4;
	padding: 1em;
	font-size: 1.5em;
}

.button.right-aligned {
	position: absolute;
	right: 0px;
}

div.relative-position {
	position: relative;
}

.inline-block {
	display: inline-block;
}

input.exp-dur-number-field {
	display: inline-block;
	width: 80px;
	margin-left: 12px;
}

span.edit-minor-span{
	display:inline-block;
	margin-right: 12px;
}

.content-relative-positioned {
	position: relative;
}

.this-absolute-positioned {
	position: absolute;
}

.bottom-right {
	right: 0px;
	bottom: 10px
}

div.create-question-label-container {
	float: left; 
	width: 70px;
}

div.create-question-textfield-container {
	margin-left: 82px;
}

div.create-question-button-container {
	float: right; 
	width: 200px;
}

div.create-question-duration-container {
	margin-left: 70px;
	width: 100px;
}

div.create-set-label-container {
	float: left; 
	width: 45px;
}
div.create-set-textfield-container {
	margin-left: 57px;
}

.float-right {
	float: right;
}

#question-tab-overview .row, #set-overview-tab .row {
	padding-top: 10px !important;
}

.information-list {
	list-style-type: none;
}

.information-list li {
	padding: 5px;
}

.tag-small, .add-tag-small {
	margin: 0 5px !important;
	font-size: 1em !important;
	padding-top: 4px !important;
	margin-bottom: 5px !important;
}

.add-tag-small {
	background-color: #aaa;
	cursor: pointer;
}

.delete-tag {
	cursor: pointer;
}

.small-tags-list {
	float: left;
}

#set-delete-div {
	display: none;
}

#set-delete-cancel {
	margin-right: 10px;
}

.expand-sub-panel {
	cursor: pointer;
}

.big-menu .list-sub-panel {
	background-color: transparent;
}

.panel-icons-list {
	font-size: 0.875em;
	list-style-type: none;
	padding: 0;
	margin: 5px 0 0;
}

.panel-icons-list li {
	float: left;
	margin-right: 10px;
}

.data-editor textarea {
	height: 20em;
	padding-botton: 1em;
}
.monospace {
	font-family: monospace;
}