{namespace view}

/**
 * Single set view
 * @param name
 * @param questions
 * @param id
 * @param expectedDuration
 * @param owner
 */
{template .set}
	{call shared.header /}
	{call shared.set.single data="all" /}
{/template}