{namespace questions.search}

/**
 * This shows the main search screen of questions
 * @param st The search terms
 * @param questions
 */
{template .main}
<h3>Add to a set</h3>
<div class="row">
	<div class="columns large-4 small-12">
		<form class="custom" id="add-questions-to-set-form" method="POST" action="/sets/fork">
			<div class="async-loader" data-path="sets/mysets" template-name="questions.view.set.tab.use.options"></div>
			
			<input type="hidden" name="questions" value="" />
			<input type="submit" value="Add to set" id="add-questions-to-set-button" />
		</form>
	</div>
	<div class="columns large-4 small-12" id="searchbar">
		<form method="get" action="/q/search" id="questions-searchform">
			{call .searchInput}
				{param value: $st.tags /}
				{param name: $st.tagsName /}
				{param title: $st.tagsTitle /}
			{/call}
			<input type="submit" value="Search" id="foobar" />
		</form>
	</div>
</div>
	
<h3>Questions</h3>
<div id="questionList" class="row">
	{call shared.question.multiple}
		{param questions: $questions /}
		{param showAddButton: true /}
	{/call}
</div>
	
	
{/template}

/**
 * Will render a single input for the search
 * @param name
 * @param title
 * @param? value
 */
{template .searchInput}
	{if not $value}
		<input type="text" id="{$name}" value="" placeholder="{$title}..." /><br>
	{else}
		<input type="text" id="{$name}" value="{$value}" placeholder="{$title}..." /><br>
	{/if}
{/template}

/**
 * @param questions
 * @param permalink
 */
{template .results}
	//{if $permalink}
		<aside class="plink"><a href="{$permalink}">permalink</a></aside>
	//{/if}
	{call shared.question.multiple}
		{param questions: $questions /}
	{/call}
{/template}